
*{ box-sizing: border-box;}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

/* Header Stuff here*/

html{
    box-sizing: border-box;
    scroll-behavior: smooth;}

header {
    background-color: #eaeaea;
    background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    padding: 1.5rem 2vw;
    display: flex;
   
}
header div {
    margin-left: 1rem;
    margin-top: 2.5rem;
}

header h1 {
    color: #186889;
    margin: 0;
    letter-spacing: 2px;
}
header p {
    color: #186889;
    margin: 0;
    letter-spacing: .2px;
}

/* Nav Stuff here*/


/*small screens*/
@media only screen and (max-width: 800px) {

    nav ul {
        margin: 0;
        margin-top:1vw;
        padding: 0 1vw;
        list-style-type: none;
    }
    
    nav a {
        display: block;
        padding: .8rem;
        margin: .5vw;
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        border-radius: 8px;
        color: white;
        border-bottom: solid 1px white;
        background-image: linear-gradient(#1F8E9B, #186889);
    }
    
    nav .active a {
        border-radius: 8px;
        background-image: linear-gradient(#F2BC1B, #F2921D);
        color: #203F59;
    }
    
    } /*end of the media quelry*/
    
    
    /*big screens*/
    @media only screen and (min-width: 801px) {
    
        nav {
            background-color: #F2BC1B;
            display: flex;
            list-style-type: none;
            justify-content: flex-end;
        
        }
        nav ul {
            list-style-type: none;
            padding: 0 2vw;
            margin: 0;
            display: flex;
        }
        nav a{
            font-size: 1.2rem;
            text-decoration: none;
            color: #186889;
            font-weight: 700;
            font-size: 21px;
            display: block;
            padding: 1.5rem 2rem;
            
        }
        
        nav li.active a {
            background-color: #F2921D;
            color: white;
    
        }
        
        nav a:hover{
            color: #eaeaea;
        }
    
    } /*end of the media quelry*/
    

/* Home Page*/
/* Main Stuff here*/

main {
    padding: 2rem 2vw;
}

main h1 {
    font-size: 27px;
    color: #F2921D;
}

main h2 {

    color: #F2921D;
}

main h3{
    color: #186889;
    font-size: 20px;
}

main p {
    color: black;
    letter-spacing: .8px;
    line-height: 2rem;
    font-size: 18px;
}

main a {
    color: #1F8E9B;
}
main a:hover {
    color: #81CCCA;
}


main ul{
    list-style-type: circle;
}

main li {
    color: black;
    letter-spacing: .5px;
    line-height: 1.5rem;
    display: list-item;
    font-size: large;
}

.vacationHero {
    width: 100%;
    margin:0;
}
.vacationHero img {
    width: 100%;
    height: auto;
}

.top-locationstitle  {
    color: #186889;
    text-align: center;
    margin-top: 1rem;
}

.top-destinations {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.top-location {
    margin: .2rem;
}

.top-location img {
    width: 250px;
    height: 175px;
    border-radius: 2px;
}

.top-location  img:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}

.top-location figcaption {
    color: #186889;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
}


#reviewStyle{
    color: #186889;
    text-align: center;
    font-weight: 500;
    font-size: 23px;
    font-style: oblique;
    margin-top: 3rem;
}

/* Destination Gallery Stuff here*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.destinations{
    margin: 0;
    margin-top: 1.5rem;
}

.gallery img{
    width: 100%;
    height: auto;
    border-style:solid;
    border-color: #81CCCA;
    border-width: 4px;
    border-radius: 2px;
}


.gallery img:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}

.gallery figcaption{
    color: #1F8E9B;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}
/* Packages page Stuff here*/
.packages-grid{
    margin-top: 2rem;
}

.packages-grid h1, h2{
    margin: 1rem;
    font-size: 25px;
}

.packages-grid h1, h2{
    margin: 1rem;
    font-size: 25px;
}
.image-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
}

.hotel-info {
    text-align: left;
    margin: 2rem;
}

.price {
    text-align: center;
    color: #203F59;
}
.packages {
    background-color: white;
    border: 0.5rem solid #81CCCA;
    border-radius: 5px;
    font-weight: 500;
}

/* form stuff here*/

.clientForm fieldset {
    border: 2px solid #81CCCA;
    border-radius: 3px;
    margin-top: 1.5rem;
}
.clientForm legend {
    color: #1F8E9B;
    font-size: 20px;
    margin: 1rem;
}
.clientForm label {
    margin: 1rem;
}
.clientForm label, .clientForm select, .clientForm [type=text], .clientForm [type=tel], .clientForm [type=email], .clientForm textarea {
    display: block;
}

.clientForm [type=text], .clientForm [type=tel], .clientForm [type=email], .clientForm select, .clientForm textarea {
    border: solid 1px #888;
    padding: .3rem;
    width: 250px;
    border-radius: 3px;
    font-weight: 200;
}

.clientForm textarea {
    width: 100%;
    height: 15rem;
    margin-top: 1rem;
}

.clientForm :required {
    background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%)
}

.clientForm select{
    margin-top: 1rem;
    background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    font-size: 15px;
}

.clientForm [type=submit] {
    background-color: #1F8E9B;
    border: none;
    padding: 1rem 2rem;
    font-size: 16px;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 .5rem;
}

/* Footer Stuff here*/

footer {
   
    background-color: #eaeaea;
    background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    text-align: center;
    color: #186889;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

footer a {
    color: #186889;
}

header, nav, main, footer {
    max-width: 70rem;
    margin: 0 auto;
}

.thankyou{
    min-height: 100vh;
}
